@import "components/status-bar.css";
@import "components/nav-bar.css";

@import "screens/login.css";

@import "reset.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 200vh;
}
