@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/badge.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/section-title-bar.css";
@import "components/alt-screen-header.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chat-room.css";

@import "reset.css";
@import "variables.css";

body {
  font-family: "Poppins", sans-serif;
  height: 130vh;
}
.main-screen {
  padding: 0px 20px;
}
.body-color {
  background-color: rgba(176, 224, 230, 0.295);
}
