.alt-screen-header {
  display: flex;
  margin: 25px 0px;
  padding: 15px 13px;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
}
.alt-screen-header__title {
  font-weight: 600;
  font-size: 23px;
}
.alt-screen-header__column {
  width: 33%;
}
.alt-screen-header__column:first-child {
  margin-right: auto;
}
.alt-screen-header__column:nth-last-child(2) {
  text-align: center;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-screen-header__column span:last-child {
  margin-left: 20px;
}
.alt-screen-header__column i:hover,
.alt-screen-header__column i:active {
  color: royalblue;
  transform: scale(1.3);
}
