.alt-screen-header {
  display: flex;
  margin: 35px 10px 0px 10px;
  padding: 15px 13px;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}
.alt-screen-header__title {
  font-weight: 600;
  font-size: 23px;
}
.alt-screen-header__icons i {
  margin-left: 15px;
}
