.section-title-bar {
  margin: 15px 0px;
  padding: 15px 0px 5px;
  border-top: var(--border-color);
  display: flex;
  justify-content: space-between;
}
.section-title-bar span {
  font-size: 14px;
  opacity: 0.5;
}
.section-title-bar i {
  opacity: 0.3;
}
